@charset "utf-8";

/* header */
.mobile {
    display: none;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.header .pc .inner {
    width: calc(100% - 10rem);
    height: 100px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    align-items: center;
    position: relative;
}
.header .pc .inner .menu .gnb {
    width: 25%;
    height: 100vh;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: -25%;
}
.header .pc .inner .menu .gnb .text > li:first-child {
    margin-top: 5rem;
}
.header .pc .inner .menu .gnb .text > li > .depth01 {
    width: 100%;
    height: 8rem;
    font-size: 25px;
    text-align: center;
    line-height: 8rem;
}
.header .pc .inner .menu .gnb .text > li > .depth01:hover {
    background-color: #fff;
    color: #D3E1BE;
}
.header .pc .inner .menu .gnb .text > li {
    position: relative;
}
.header .pc .inner .menu .gnb .text > li > .depth02 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    display: none;
}
.header .pc .inner .menu .gnb .text > li > .depth02 li {
    height: 6rem;
    line-height: 6rem;
    border-bottom: 2px solid #f8f8e2;
}
.header .pc .inner .menu .gnb .text > li > .depth02 li:hover {
    color:#8e997d;
    background-color: #fff;
}
.header .pc .inner .menu .gnb img {
    width: calc(90% - 4rem);
    margin: 0 auto;
}
.header .pc .inner .menu .menu_btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.header .pc .inner .menu_btn img {
    width: 30px;
}
.header .pc .inner .menu .gnb .close_btn {
    width: 20px;
    height:20px;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.header .pc .inner .menu .gnb .close_btn img {
    width: 100%;
    object-fit: cover;
}
.header .pc .inner .logo {
    height: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header .pc .inner .logo a {
    height: 100%;
}
.header .pc .inner .logo img {
    height: 100%;
}
.header .pc .inner .util ul {
    display: flex;
    font-size: 25px
}
.header .pc .inner .util ul li {
    padding: 0 15px;
}
.header .pc .inner .util ul li:last-child {
    padding-right: 0;
}

/* footer */
.footer {
    width: 100%;
}
.footer .inner {
    width: 100%;
}
.footer .ft_bt {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 9rem;
    background-color: #D3E1BE;
    position: relative;
}
.footer .ft_bt .inner {
    max-width: 154.2rem;
    width: calc(100% - 10rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.footer .ft_bt .inner .text {
    width: 50%;
}
.footer .ft_bt .inner .text .info {
    display: flex;
    align-items: center;
}
.footer .ft_bt .inner .text .info .bt_logo {
    max-height: 13rem;
    height: 20.04vw;
}
.footer .ft_bt .inner .text .info .bt_logo img {
    height: 100%;
    object-fit: cover;
}
.footer .ft_bt .inner .text .info .policy {
    margin-left: 7rem;
}
.footer .ft_bt .inner .text .info .policy ul {
    display: flex;
    gap: 25px;
}
.footer .ft_bt .inner .text .info .policy ul li {
    white-space: nowrap;
}
.footer .ft_bt .inner .text .info .policy ul li:hover {
    color: #8e997d;
}
.footer .ft_bt .inner .text .company {
    margin-top: 6rem;
    color: #696969;
}
.footer .ft_bt .inner .text .company ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer .ft_bt .inner .text .company ul li:first-child {
    display: flex;
    gap: 20px;
}
.footer .ft_bt .inner .sns ul {
    height: 13rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.footer .ft_bt .inner .sns ul li a {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer .ft_bt .inner .sns ul li:hover {
    color: #8e997d;
}
.footer .ft_bt .inner .sns ul li:hover img {
    opacity: 0.5;
}
.footer .ft_bt .image {
    max-height: 21rem;
    height: 13.61vw;
    position: absolute;
    bottom: 3rem;
    right: 5rem;
}
.footer .ft_bt .image img {
    height: 100%;
    object-fit: cover;
}
.footer .ft_top {
    width: 100%;
    position: relative;
    left: 0;
    top: 30px;
}
.footer .ft_top img {
    width: 100%;
}
/* footer */

.footer .ft_top.active {
    transform: translate(0, 30px);
}

/* top_btn */
.top_btn {
    border: 0;
    background-color: transparent;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    cursor: pointer;
    display: none;
    z-index: 999;
}
.top_btn .after {
    display: none;
}
.top_btn:hover .after {
    display: block;
}
.top_btn:hover .before {
    display: none;
}

@media screen and (max-width: 1100px) {
    .header .pc {
        display: none;
    }
    .header .mobile {
        display: block;
    }

    /* header */
    .header .mobile .inner {
        max-width: 110rem;
        width: calc(100% - 5rem);  
        display: flex;
        justify-content:space-between;
        margin: 0 auto;
        align-items: center;
        position: relative;
    }
    .header .mobile .inner .left {
        display: flex;
        gap: 15px;
    }
    .header .mobile .inner .left .menu img {
        width: 20px;
    }
    .header .mobile .inner .left .menu .gnb {
        width: 25%;
        height: 100vh;
        background-color:antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: -25%;
    }
    .header .mobile .inner .left .menu .gnb .text > li:first-child {
        margin-top: 5rem;
    }
    .header .mobile .inner .left .menu .gnb .text > li > .depth01 {
        width: 100%;
        height: 8rem;
        font-size: 25px;
        text-align: center;
        line-height: 8rem;
    }
    .header .mobile .inner .left .menu .gnb .text > li > .depth01:hover {
        background-color: #fff;
        color: #D3E1BE;
    }
    .header .mobile .inner .left .menu .gnb .text > li {
        position: relative;
    }
    .header .mobile .inner .left .menu .gnb .text > li > .depth02 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        display: none;
    }
    .header .mobile .inner .left .menu .gnb .text > li > .depth02 li {
        height: 6rem;
        line-height: 6rem;
        border-bottom: 2px solid #f8f8e2;
    }
    .header .mobile .inner .left .menu .gnb .text > li > .depth02 li:hover {
        color:#8e997d;
        background-color: #fff;
    }
    .header .mobile .inner .left .menu .gnb img {
        width: calc(90% - 4rem);
        margin: 0 auto;
    }
    .header .mobile .inner .left .menu .menu_btn {
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    .header .mobile .inner .left .menu_btn img {
        width: 30px;
    }
    .header .mobile .inner .left .menu .gnb .close_btn {
        width: 20px;
        height:20px;
        border: 0;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    .header .mobile .inner .left .menu .gnb .close_btn img {
        width: 100%;
        object-fit: cover;
    }
    .header .mobile .inner .left .search {
        width: 25px;
        height: 25px;
    }
    .header .mobile .inner .left .search button {
        background-color: transparent;
        border: 0;
    }
    .header .mobile .inner .left .search img {
        width: 100%;
        height: 100%;
    }
    .header .mobile .inner .logo img {
        height: 6.3rem;
    }
    .header .mobile .inner .right ul {
        display: flex;
        gap: 15px;
    }

    /* footer */
    .footer .ft_bt .inner {
        font-size: 18px;
    }
    .footer .ft_bt .inner .text .info .bt_logo {
        max-height: 8.3rem;
        height: 9.12vw;
    }
    .footer .ft_bt .inner .text .info .policy {
        margin-left: 4rem;
    }
    .footer .ft_bt .inner .text .company {
        margin-top: 4rem;
    }
    .footer .ft_bt .inner .text .company ul {
        gap: 10px;
    }
    .footer .ft_bt .inner .sns ul li {
        width: 3.5rem;
    }
    .footer .ft_bt .inner .sns ul li span {
        display: none;
    }
    .footer .ft_bt .inner .sns ul li img {
        width: 100%;
    }
    .footer .ft_bt .image {
        max-height: 11rem;
        height: 12.08vw;
    }
    .top_btn .before {
        width: 3.5px;
    }
    .top_btn .after {
        height: 10.7;
    }
}