@charset "utf-8";

/* meetme */
@font-face {
    font-family: 'Ownglyph meetme';
    src: url('font/Ownglyph_meetme-Rg.eot');
    src: url('font/Ownglyph_meetme-Rg.eot?#iefix') format('embedded-opentype'),
        url('font/Ownglyph_meetme-Rg.woff2') format('woff2'),
        url('font/Ownglyph_meetme-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Thin.eot');
    src: url('font/프리텐다드/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Thin.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Regular.eot');
    src: url('font/프리텐다드/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Regular.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-SemiBold.eot');
    src: url('font/프리텐다드/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Light.eot');
    src: url('font/프리텐다드/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Light.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Black.eot');
    src: url('font/프리텐다드/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Black.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Bold.eot');
    src: url('font/프리텐다드/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Bold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-ExtraBold.eot');
    src: url('font/프리텐다드/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-ExtraBold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-ExtraLight.eot');
    src: url('font/프리텐다드/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-ExtraLight.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Medium.eot');
    src: url('font/프리텐다드/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/프리텐다드/Pretendard-Medium.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: url('../img/10_cursor/cursor-pointer.png'), auto;
}
html, body {
    font-family: 'Ownglyph meetme';
    font-size: 62.5%;
    color: #333;
    position: relative;
    cursor: url('../img/10_cursor/cursor-pointer.png'), auto;
}
button {
    cursor: url('../img/10_cursor/cursor-pointer.png'), pointer;
}